{% extends "base.html" %} 

{% block content %}
<!-- bootstrap class is the pre written CSS shortcut..  -->
<div class="container mt-5"> 
  <h1>Welcome to TasteBoard</h1>
  <p>
    A restaurant sharing app with posts, comments, search, and admin moderation.
  </p>
  <!-- current_user is the object that is automatically created by flask-login as soon as a user logged_in. but only auto in html jinja, for app.py we need to import  -->
  {% if current_user.is_authenticated %}
    <p>
      You are logged in as {{ current_user.name }}.
    </p>
    <a href="{{ url_for('new_post') }}" class="btn btn-primary mb-3">Create Post</a>
    <a href="{{ url_for('logout') }}" class="btn btn-danger">
      Logout
    </a>
    <form method="GET" action="{{ url_for('home') }}" class="mb-3">
      <div class="input-group">
        <!-- set the input name as q, so when user search, url change and route will take the value from q, value is to keep the search value showing when the page load -->
          <input 
              type="text"  
              name="q" 
              class="form-control" 
              placeholder="Search by restaurant name or city"
              value="{{ search_query }}" 
          >

          <button type="submit" class="btn btn-outline-primary">
              Search
          </button>

          {% if search_query %}
              <a href="{{ url_for('home') }}" class="btn btn-outline-secondary">
                  Clear
              </a>
          {% endif %}
      </div>
    </form>
    <h2 class="mt-4">Restaurant Posts</h2>
    {% if posts %}
      {% for post in posts %} 
          <div class="card mb-3">
              <img src="{{ post.image_url }}" class="card-img-top" alt="{{ post.name }}">

              <div class="card-body">
                  <h5 class="card-title">{{ post.name }}</h5>
                  <p class="card-text">{{ post.city }}</p>
                  <p class="card-text">Rating: {{ post.rating }}/5</p>
                  <p class="card-text">{{ post.review }}</p>
                  <!-- post.author.name uses the relationships that is set in class RestaurantPost -->
                  <p class="text-muted">Posted by {{ post.author.name }} on {{ post.date_posted.strftime("%b %d, %Y") }}</p> 
              </div>
              {% if current_user.id == post.user_id or current_user.is_admin %}
                                
                <a href="{{ url_for('edit_post', post_id=post.id) }}" class="btn btn-sm btn-warning">
                    Edit Post
                </a>
                
                <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete Post
                    </button>
                </form>
              {% endif %}
              <hr>
              <h6>Comments</h6>
              <!-- post.comments, comment.author.name, comment.text can be called because the relationships are already set in classes -->
              {% if post.comments %}
                {% for comment in post.comments %}
                  <div class="mb-2">
                    <strong>{{ comment.author.name }}</strong>:
                    {{ comment.text }}
                  </div>

                  {% if current_user.id == comment.user_id or current_user.is_admin %}
                    <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            Delete Comment
                        </button>
                    </form>
                  {% endif %}
                {% endfor %}
              {% else %}
                  <p class="text-muted">No comments yet.</p>
              {% endif %}

              <!-- send the commented post_id back to the route url with function "add_comment"  -->
              <form method="POST" action="{{ url_for('add_comment', post_id=post.id) }}">
                {{ comment_form.hidden_tag() }}

                <div class="mb-2">
                  <!-- get the comment_form object we return from def home -->
                  {{ comment_form.text(class="form-control", rows="2", placeholder="Write a comment...") }} 
                </div>

                {{ comment_form.submit(class="btn btn-sm btn-outline-primary") }}
              </form>


          </div>
      {% endfor %}
    {% else %}
    <p>No restaurant posts yet.</p>
{% endif %}
  {% endif %}
  {% if not current_user.is_authenticated %}
    <!-- by clicking the button, it will find the url for the function named register in app.py to reach there. -->
    <a href="{{ url_for('register') }}" class="btn btn-primary"> 
      Register
    </a>
    <a href="{{ url_for('login') }}" class="btn btn-primary">
      Login
    </a>
  {% endif %}
</div>
{% endblock %}
